.placeholder {
    width: 0;
    height: 12px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    &,
    &:after, // &:before
    {
        display: block;
        background: rgba(180, 180, 180, 0.25);
    }
    &.placeholder-animate {
        &:after, // &:before
        {
            content: '';
            position: absolute;
            opacity: 0.25;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-out;
        }
        // &:before {
        //     background: linear-gradient(to left, #bbb, #eee);
        //     left: 100%;
        //     animation-name: slide-gradient-left;
        // }
        &:after {
            background: linear-gradient(to left, #bbb, #eee);
            right: 100%;
            animation-name: slide-gradient-right;
            // animation-delay: -1.5s;
        }
        // @keyframes slide-gradient-left {
        //     0%{
        //         left: 100%;
        //     }
        //     25%,100% {
        //         left: 0;
        //     }
        // }
        @keyframes slide-gradient-right {
            0% {
                right: 100%;
            }
            // 25%,
            100% {
                right: -100%;
            }
        }
    }
    &.placeholder-sm {
        width: 100px;
    }
    &.placeholder-md {
        width: 200px;
    }
    &.placeholder-lg {
        width: 400px;
    }
    &.placeholder-0 {
        width: 12px;
    }
    @for $i from 1 through 16 {
        &.placeholder-#{$i} {
            width: (25px * $i);
        }
    }
}